body{
    background-image: url(../imgs/pixel-jeff-galaxy-far-far-away.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
    color: #ffffff;
    
}

@font-face {
    font-family: "minhaFonte";
    src: url(../fonts/VCRosdNEUE.ttf);
}

.info{
    font-family: minhaFonte;
}


main h1 {
    padding-bottom: 1rem;
    margin: 0 auto;
    max-width: 50%;
    font-size: 2.4rem;

}
main p{
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    font-family: 'Rubik', sans-serif;
    

}

#date{
    display: flex;
    justify-content: center;
    padding: 115px 10px 235px 0;
    gap: 5px;
    color: #fffefe;
  
}

.selecionar{
    font-family: "minhaFonte";
    src: url(../fonts/VCRosdNEUE.ttf);
    color: #b388ff;
}

#date input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background-color: #cb00e6;
    font-family: "minhaFonte";
    src: url(../fonts/VCRosdNEUE.ttf);
}

#btn{
    font-family: "minhaFonte";
    src: url(../fonts/VCRosdNEUE.ttf);
    font-size: 16px;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    background-color: #4212ff;
    
}

#btn:hover{
    width: 100px;
    height: 25px;
    font-size: 15px;
}

footer{
    display: flex;
    
}

.photo_log{
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

